[submodule "external/kdsingleapplication"]
	path = external/kdsingleapplication
	url = https://github.com/KDAB/KDSingleApplication.git
[submodule "external/libphysis"]
	path = external/libphysis
	url = https://github.com/redstrate/libphysis
[submodule "external/libkrasis"]
	path = external/libkrasis
	url = https://codeberg.org/redstrate/libkrasis.git
